body {
  margin: 0 auto;
  background-image: url(assets/img/giger.jpg);
}

/* Estilo de cabecera*/

.header {
  background: #5EAADE;
  text-align: center;
}

h1 {
  color: #FFF;
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  margin: 0;
  padding: 20px;
}

h2 {
  margin: 0;
}

#twitear {
  margin: 10px 100px 0 100px;
}

hr {
  border: 2px solid #5EAADE;
  margin: 10px;
}

/* Estilo de la sección de información*/

#info {
  width: 538px;
  height: 200px;
  background: #FFF;
  padding: 30px;
  display: inline-block;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#código {
  font-size: 20px;
  color: blue;
  margin-top: 50px;
}

/*Estilo de la sección para twitear*/

#text-area {
  width: 538px;
  height: auto;
  margin-left: 80px;
  display: inline-block;
  background: #FFF;
  margin-bottom: 30px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border: hidden;
}

textarea:focus {
  outline: none;
}

button {
  width: 100px;
  height: 40px;
  clear: both;
  background: #5EAADE;
  color: #FFF;
  border-radius: 10px;
}

button:focus {
  background: #9a9a9a;
  color: #000;
}

/*Estilo del tweet*/

.tweet {
  border: 2px solid #5EAADE;
  background: #FFF;
}

/* color para contador*/

.green {
  color: #3b8700;
}

.red {
  color: #a21010;
}
